/*
Custom CSS styles that override base theme go here.
*/

.front .hero-copy {
  display:none;
}

.front .region-secondary-content .views-field-field-hero-image {
  width:100%;
  margin:0;
  float:none;
}

.front .views-field-field-staff-picture {
  display:none;
}
